.box {
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  border-radius: 10px;
  background-color: grey;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  text-transform: uppercase;
  color: white;
}
.stat-list {
  display: flex;
  padding: 0;
}
.item1 {
  width: 25%;
  border-bottom-left-radius: 10px;
  background-color: rgb(0, 238, 247);
}
.item2 {
  width: 25%;
  background-color: rgb(255, 0, 242);
}
.item3 {
  width: 25%;
  background-color: rgb(247, 60, 60);
}
.item4 {
  width: 25%;
  border-bottom-right-radius: 10px;
  background-color: rgb(0, 238, 247);
}
.percentage {
  font-size: 34px;
  color: #fff;
}
